DATABASE_URL=postgresql+psycopg2://usuario:password@localhost:5432/kedikian_database
SECRET_KEY=CAMBIA_ESTA_CLAVE
ACCESS_TOKEN_EXPIRE_MINUTES=30

# JWT para API Externa (generar con: openssl rand -hex 32)
JWT_SECRET_KEY=CAMBIA_ESTA_CLAVE
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
EXTERNAL_SHARED_SECRET=CLAVE_COMPARTIDA
